{erl_opts, [
            debug_info,
            {parse_transform, lager_transform},
            warnings_as_errors
           ]}.

{cover_export_enabled, true}.
{cover_enabled, true}.

{deps, [
        {lager, "3.7.0"},
        {miner, {git, "https://github.com/helium/miner.git", {branch, "master"}}}
       ]}.

{overrides, [
             {add, miner, [{erl_opts, [{d, 'TEST'}]}]}
            ]}.

{plugins, [
           rebar3_fmt
          ]}.

{xref_checks, [
               undefined_function_calls,
               undefined_functions
               %% locals_not_used
              ]}.
